@import './scss/variable';

.app-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
    ;
    grid-template-columns: 3fr 9fr;
    grid-gap: 20px;
    padding: 0 15px;
}

.app-wrapper-content {
    grid-area: content;
}

@media (max-width: 768px) {
    .app-wrapper {
        grid-template-areas:
            "header "
            "sidebar"
            "content"
        ;
        grid-template-columns: 12fr;
    }
}