@import './scss/variable';

.app-wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer"
    ;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}